*{
    margin: 0;
    padding: 0;
}



.contenedor-principal{
    margin: 10px;
    padding: 0px 20px;
}

.contenedor-secundario{
    margin-top: 30px;
    
}

.titulo-principal{
    margin: 30px;
}

.contenedorDeCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; 
    
}

.divTitulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}







